@charset "utf-8";
@font-face {
    font-family:studiogothic;
    src:url("../fonts/studio-gothic/StudioGothicAlternate-ExtraLigh Trial.ttf");
}
@font-face {
    font-family: "Stick No Bills";
    src: url("../fonts/Stick_No_Bills/StickNoBills-VariableFont_wght.ttf");
}
@font-face {
    font-family: railway;
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Material Icons';
    src: url(../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: url(../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf); 
    src: url(../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff); 
    src: url(../fonts/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2); 
}

/*-------------------reset style-------------------*/
* {
    padding:  0;
    margin: 0;
    border: 0;
}


html{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 500px;
}

body{
    width:100%;
    height:100%;
    font-family: railway, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: rgb(37,37,35);
    color: white;
}

p::selection, div::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, li::selection, a::selection{
    background-color: #3DA2AE;
}

div, p{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
}

div{
    white-space: nowrap;
    vertical-align: top;
}

p, h1, h2, h3, h4, h5, h6, li{
    white-space: normal;
}

.row{
    width:100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    white-space: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: railway, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
}

/*-------------------General-------------------*/

.hide{
    display:none !important;
}

.opacity-0{
    opacity: 0;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

.uppercase{
    text-transform: uppercase;
}

.inline-block{
    display:inline-block;
}

.vh-100{
    height: 100vh;
}

.width-50{
    width: 50%;
    vertical-align: top;
    position: relative;
}

.float-right{
    float: right;
}

.float-right-820{
    float: inherit;
    width: 100%;
}

.float-left{
    float: left;
}

.vertical-align-top{
    vertical-align: top;;
}

.mt-70{
    margin-top: 70px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-5{
    margin-top: 5px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.mb-5{
    margin-bottom: 5px !important;
}

.mr-20{
    margin-right: 20px !important;
}

.mr-10{
    margin-right: 10px !important;
}

.mr-5{
    margin-right: 5px !important;
}

.font-size-40{
    font-size: 40px !important;
}

.font-size-35{
    font-size: 35px !important
}

.black{
    color: black;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.studiogothic{
    font-family: studiogothic;
}

.sticknobills{
    font-family: "Stick No Bills" !important;
    letter-spacing: 0.2;
}

.material-icons{
    font-weight: 400;
    font-family: 'Material Icons';
    font-size: 30px;
}

.pointer:hover{
    cursor: pointer;
}

.expand-hover:hover{
    opacity: 0.8;
    font-size: 35px;
    filter: drop-shadow(0px 0px 20px #cde9ff);
    top: -3px;
    left: -3px;
    position: relative;
    transition: opacity 0.5s, font-size 0.5s, filter 0.5s, top 0.5s, left 0.5s;
}

/*-------------------cursor-------------------*/
#cursor-trail{
    width: 20px;
    height: 20px;
    background-color: rgba(113,187, 172, 0.9);
    border-radius: 100% 80% 100% 90%;
    position: fixed;
    z-index:10;
}

.cursor-animation{
    animation: trail linear 2s infinite;
    /*moz and webkit*/
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@-webkit-keyframes trail {
    0%      {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
    25%     {background-color: rgba(113,187, 172, 0.7); border-radius: 80% 100% 80% 100%;}
    50%     {background-color: rgba(113,187, 172, 0.5); border-radius: 80% 100% 80% 100%;}
    75%     {background-color: rgba(113,187, 172, 0.7); border-radius: 100% 90% 100% 90%;}
    100%    {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
}

@-moz-keyframes trail {
    0%      {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
    25%     {background-color: rgba(113,187, 172, 0.7); border-radius: 80% 100% 80% 100%;}
    50%     {background-color: rgba(113,187, 172, 0.5); border-radius: 80% 100% 80% 100%;}
    75%     {background-color: rgba(113,187, 172, 0.7); border-radius: 100% 90% 100% 90%;}
    100%    {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
}

@keyframes trail {
    0%      {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
    25%     {background-color: rgba(113,187, 172, 0.7); border-radius: 80% 100% 80% 100%;}
    50%     {background-color: rgba(113,187, 172, 0.5); border-radius: 80% 100% 80% 100%;}
    75%     {background-color: rgba(113,187, 172, 0.7); border-radius: 100% 90% 100% 90%;}
    100%    {background-color: rgba(113,187, 172, 0.9); border-radius: 100% 70% 90% 80%;}
}


/*-------------------nav-------------------*/

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav-line-height{
    line-height: 28px !important;
}

nav ul.bar{
    display: flex;
    list-style-type: none;
    text-align:center;
    padding: 10px 20px;
    height: calc(100% - 20px);
}

nav ul.bar li{
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    opacity: 1;
    z-index: 100;
}

nav ul.bar li a {
    opacity: 1;
}

nav ul.bar li a:hover {
    height:28px;
    padding-top: 2px;
    color: rgb(204, 204, 204);
}

.hover-selection:hover{
    opacity: 0.8;
    font-size: 35px;
    filter: drop-shadow(0px 0px 20px #cde9ff);
    top: -3px;
    left: -3px;
    position: absolute;
    transition: opacity 0.5s, font-size 0.5s, filter 0.5s, top 0.5s, left 0.5s;
}

.expanded-nav-container{
    display: none;
}

.nav-hide .expanded-nav-container{
    /*0.2 corresponds to js*/
    -webkit-animation: navHide 0.2s linear 1 !important; 
    -moz-animation: navHide 0.2s linear 1 !important;
    animation: navHide 0.2s linear 1 !important;
}

@-webkit-keyframes navHide {
    0%  {top: 0px; opacity: 0.7}
    100%    {top:-100vh; opacity: 0}
}

@-moz-keyframes navHide {
    0%  {top: 0px; opacity: 0.7}
    100%    {top:-100vh; opacity: 0}
}

@keyframes navHide {
    0%  {top: 0px; opacity: 0.7}
    100%    {top:-100vh; opacity: 0}
}

.expanded-nav .expanded-nav-container{
    display: block !important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: navDrop 0.2s linear 1;
    -moz-animation: navDrop 0.2s linear 1;
    animation: navDrop 0.2s linear 1;
}

@-webkit-keyframes navDrop {
    0%    {top:-100vh; opacity: 0}
    100%  {top: 0px; opacity: 0.7}
}

@-moz-keyframes navDrop {
    0%    {top:-100vh; opacity: 0}
    100%  {top: 0px; opacity: 0.7}
}

@keyframes navDrop {
    0%    {top:-100vh; opacity: 0}
    100%  {top: 0px; opacity: 0.7}
}

#expanded-nav ul{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: 20vh;
}

#expanded-nav li{
    display: block;
    width: 100%;
    line-height: 240%;
    font-size: 150%;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
    color: white;
    position: relative;
    opacity: 1;
    z-index: 10;
    transform: scale(1.2);
    -webkit-animation: navTextDrop 0.6s linear 1;
    -moz-animation: navTextDrop 0.6s linear 1;
    animation: navTextDrop 0.6s linear 1;
}

@-webkit-keyframes navTextDrop {
    0%    {height:0px; opacity: 0}
    100%  {height:57px; opacity: 0.8}
}

@-moz-keyframes navTextDrop {
    0%    {height:0px; opacity: 0}
    100%  {height:57px; opacity: 0.8}
}


@keyframes navTextDrop {
    0%    {height:0px; opacity: 0}
    100%  {height:57px; opacity: 0.8}
}

#expanded-nav li:hover{
    cursor: pointer;
    color: rgba(34, 129, 167, 1);
    font-weight: 600;
}

.selected{
    color: rgba(34, 129, 167, 1) !important;
}

#email-clipboard-success{
    color: #3DA2AE;
    background-color: white;
    width: auto;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 6vh;
    filter: drop-shadow(0px 3px 6px #222);
    -webkit-animation: opacity0to1 0.07s linear 1;
    -moz-animation: opacity0to1 0.07s linear 1;
    animation: opacity0to1 0.07s linear 1;
}

@-webkit-keyframes opacity0to1 {
    0%    {opacity:0;}
    100%  {opacity: 1}
}

@-moz-keyframes opacity0to1 {
    0%    {opacity:0;}
    100%  {opacity: 1}
}


@keyframes opacity0to1 {
    0%    {opacity:0;}
    100%  {opacity: 1}
}

/* animation: 2s linear selectionHover 1; */
@-webkit-keyframes selectionHover {
    0%    {opacity:1; font-size:30px;}
    50%   {opacity: 0.9; font-size: 35px;}
    100%  {opacity: 0.85; font-size: 40px;}
}

@-moz-keyframes selectionHover {
    0%    {opacity:1; font-size:30px;}
    50%   {opacity: 0.9; font-size: 35px;}
    100%  {opacity: 0.85; font-size: 40px;}
}


@keyframes selectionHover {
    0%    {opacity:1; font-size:30px;}
    50%   {opacity: 0.9; font-size: 35px;}
    100%  {opacity: 0.85; font-size: 40px;}
}

#home-link{
    text-decoration: none;
    color: white;
    min-width: 140px;
    display: inline-block;
    height: auto !important;
    padding: 0 !important;
}

#home-link:hover, #home-link:hover div{
    color:white;
}

.name-logo{
    letter-spacing: 3px;
    font-size: 75%;
    line-height:1.2em;
    overflow: hidden;
    background-color: black;
}

.sub-logo{
    font-size: 63%;
    letter-spacing: 2px;
    font-weight: lighter;
    line-height: 1.2em;
}

/*-------------------main el-------------------*/


/*-------------------footer-------------------*/

footer{
    height:46px;
    width:100%;
    text-align:center;
    background-color: rgba(15, 15, 15, 1);
    color: #939393;
    position: fixed;
    bottom: 0;
}

footer p{
    padding-top:4px;
    font-size: 25px;
    letter-spacing: 1px;
}


/*-------------------media-------------------*/
@media (min-width: 450px) {
    /*----css reset----*/
    body, div, p{ font-size: 17px;}
    p { letter-spacing: 0.5px;}
    .col-1 {width: 8.33%; display: inline-block}
    .col-2 {width: 16.66%; display: inline-block}
    .col-3 {width: 25%; display: inline-block}
    .col-4 {width: 33.33%; display: inline-block}
    .col-5 {width: 41.66%; display: inline-block}
    .col-6 {width: 50%; display: inline-block}
    .col-7 {width: 58.33%; display: inline-block}
    .col-8 {width: 66.66%; display: inline-block}
    .col-9 {width: 75%; display: inline-block}
    .col-10 {width: 83.33%; display: inline-block}
    .col-11 {width: 91.66%; display: inline-block}
    .col-12 {width: 100%; display: inline-block}

    /*----nav----*/
    .nav-line-height{ line-height: 42px !important;}
    #home-link{ min-width: 215px;}
    .name-logo{ font-size: 110%;}
    .sub-logo{ font-size: 87%; margin-bottom: -5px;}

    @-webkit-keyframes navTextDrop {
        0%    {height:0px; opacity: 0}
        100%  {height:71px; opacity: 0.8}
    }

    @-moz-keyframes navTextDrop {
        0%    {height:0px; opacity: 0}
        100%  {height:71px; opacity: 0.8}
    }

    @keyframes navTextDrop {
        0%    {height:0px; opacity: 0}
        100%  {height:71px; opacity: 0.8}
    }

}

@media (min-width: 820px){
    /*----css reset----*/
    body, div, p{ font-size: 18px;}
    p { letter-spacing: 0.5px;}

}    

@media (min-width: 1250px){

}

